@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

:root {
	--navbar_width: 3.1rem;
    --main-padding: 10px;
    --border-radius-small: 3px;
    --border-radius-medium: 5px;
    --border-radius-large: 10px;
    --icon-size: clamp(1.5rem, 2rem, 5vw);

    --screen-size: calc(100% - 14px - 6px - var(--icon-size));

    --color-primary: #027be3;
    --color-primary-light: #C0DEF8;
    --color-primary-transparent: #027be322;
    --color-secondary: #6A02E3;
    --color-accent: #013D71;

    --color-border: #c0c4c7;

    --background-color: #FDFDFD;

    --color-text: #000;
    --invoice_colour: #027be3;
    --invoice_colour-color: #fff;

    --invoice-draft:#FFFB1C;
    --invoice-export:#FFE01C;
    --invoice-sent:#FFB21C;
    --invoice-partially-paid:#40D016;
    --invoice-paid:#309C10;
    --invoice-overdue:#CD0E0E;


    --invoice-credit:#309C10;
    --invoice-debit:#B81616;
}

@media only screen and (max-width: 768px){
	:root {
		--screen-size: 100%;
	}
}

*,
*::before,
*::after {
	position: relative;
	box-sizing: border-box !important;
	margin: 0;
	font-weight: normal;
}

html {
	background-repeat: no-repeat;
	overflow: hidden;
	height: 100vh;
}

body {
    margin: 0px;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    min-height: 100vh;
	color: var(--color-text);
	line-height: 1.6;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--color-background);
	transition: color 0.5s, background-color 0.5s;
}

#app {
	display: flex;
	flex-direction: column;
    align-items: flex-end;
	min-height: 100vh;
	height: 100vh;
    font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--background-color);
	overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
	flex-grow: 1;
    gap: 1rem;
	width: var(--screen-size);
    height: 100%;
    overflow-y: auto;
    position: fixed;
    padding: var(--main-padding) 0 var(--main-padding);
}

main > section {
    width: 95%;
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40
}

p {
	margin: 0px;
}

b {
	font-weight: bold;
}

i {
	font-style: italic;
}

h1 {
	font-size: 1.7rem;
}

h1.page_heading,
h3.page_heading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    gap: 1.5ch;
    width: 100%;
    padding: 0px 2.5ch;
    text-align: start;
}

h1.page_heading::before,
h1.page_heading::after,
h3.page_heading::before,
h3.page_heading::after {
    content: '';
    position: relative;
    width: 100%;
    height: 1px;
    color: inherit;
    background-color: currentColor;
    opacity: 0.3;
}

h2 {
	margin: 0px;
	font-size: 1.3rem;
}

h3 {
    margin: 0px;
}

.controls_row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0.8rem 0px;
}

.search_options{
    display: flex;
    gap: 2ch;
    margin-left: auto;
    flex-wrap: wrap;
}

.search_options > div {
    display: flex;
    gap: 0.5ch;
    margin-left: 2ch;
}

a,
button,
.button {
	all: unset;
	text-decoration: none;
	color: var(--color-primary);
	border-radius: var(--border-radius-medium);
	transition: 0.2s ease color, 0.2s ease background-color;
	cursor: pointer;
    text-align: center;
}

button,
.button {
    display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
    padding: 2px 1rem;
    border: 1px solid currentColor;
    user-select: none;
}

button.solid,
.button.solid {
    color: white;
    background-color: var(--color-primary);
}

button.icon_button,
.button.icon_button {
    padding: 0.2em;
    color: var(--color-text);
    border: unset;
}

button.disabled,
.button.disabled {
    color: grey;
    pointer-events: none;
}

.forms_container{
    position: fixed;
	top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 60;
    display: flex;
    overflow: auto;
    backdrop-filter: brightness(0.4);
}

form {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 20px;
	width: 600px;
	max-width: min(600px, 95%);
	margin: auto;
	padding: 45px;
	background-color: white;
	border-radius: var(--border-radius-large);
	box-shadow: 0px 10px 50px -15px #1248;
}
fieldset {
	all: unset;
	display: flex;
	flex-flow: column nowrap;
	gap: 30px;
	width: 100%;
	border: unset;
}
label {
	color: var(--color-primary);
}
input {
	all: unset;
	box-sizing: border-box;
	width: 100%;
	padding: 2px 7px;
	color: var(--color-text);
	font-size: 1rem;
	border-bottom: 1px solid grey;
}
input:focus,
input:focus-within {
	border-color: var(--color-primary);
}
label > input + button {
	position: absolute;
	right: 5px;
	bottom: 0px;
	padding: 2px 5px;
	border: unset;
}

form > button{
    width: 100%;
    box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
}

@media (hover: hover) {
	a:hover,
	button:not(.solid):hover,
	.button:not(.solid):hover {
		background-color: var(--color-primary-transparent);
	}
}